<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Homest | Review Apartments, Homes, Businesses</title>
	<meta name="description" content="We are just being honest.">
	<meta name="author" content="Caitlin Everett, Derek Haworth, and Enas Siddiqi">

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>
	<!-- Import jQuery UI css -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all"/> 
	<!-- Link to style.css -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- Link to Firebase Database -->
	<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

</head>
<body>

<div class="app-container">
	<header id="header" class="page-topbar">
		<div class="navbar-fixed">
			<nav class="navbar-color">
				<div class="nav-wrapper">
					<ul class="left">
						<li>
							<h1 class="logo-wrapper">
								<a href="" class="brand-logo">
									<img src="">
									<span class="logo-text hide-on-med-and-down">Homest</span>
								</a>
							</h1>
						</li>
					</ul>
					<div class="header-search-wrapper hide-on-med-and-down">
						<i class="material-icons">search</i>
						<input type="text" name="Search" id="search" class="header-search-input z-depth-2" placeholder="Explore">
					</div>    
				</div>
			</nav>
		</div>
	</header>

	<!-- Google Map -->
	<div id="map"></div>

</div>


	<!-- MODALS / DRAWERS -->

	<!-- Modal Trigger -->
	<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
	
	<!-- Review Modal -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>Rate this building.</h4>

			<!-- Review Form -->
			<div class="row">
				<form class="col s12">

					<div class="row">
						<div class="input-field col s12">
							<input id="name" type="text" class="validate">
							<label for="name">Name</label>
						</div>
					</div>

					<!-- Lease Duration -->
					<div class="row">

						<div class="input-field col s6">
							<input id="unit" type="text" class="validate">
							<label for="unit">Unit #</label>
						</div>

						<div class="input-field col s6">
							<input id="lease-duration" type="number" class="validate">
							<label for="lease-duration">Lease Duration</label>
						</div>
					</div>

					<br>

					<!-- Star Ratings -->
					<div id="app">
						<div class="col s6">
							<!-- Overall building condition -->
							<label for="bldgCondition-rating">Overall Building Condition</label>
							<star-rating v-model="bldgCondition" :star-size="30" class="bldgCondition-rating"></star-rating>
							<br>
							<!-- Water -->
							<label for="water-rating">Water</label>
							<star-rating v-model="water" :star-size="30" class="water-rating"></star-rating>
							<br>
                            <!-- Temperature Regulation -->
                            <label for="tempReg-rating">Temperature Regulation</label>
                            <star-rating @rating-selected="setRating($event, 'tempReg')" v-model="tempReg" :star-size="30" class="tempReg-rating"></star-rating>
							<!-- Air Quality -->
							<label for="air-rating">Air Quality</label>
							<star-rating v-model="air" :star-size="30" class="air-rating"></star-rating>
							<br>
							<!-- Property Management -->
							<label for="management-rating-rating">Management</label>
							<star-rating v-model="management" :star-size="30" class="management-rating"></star-rating>
						</div>
						
						<div class="col s6">
							<!-- Pests -->
							<label for="pests-rating">Pests</label>
							<star-rating v-model="pests" :star-size="30" class="pests-rating"></star-rating>
							<br>
							<!-- Electricity -->
							<label for="electricity-rating">Electricity</label>
							<star-rating v-model="electricity" :star-size="30" class="electricity-rating"></star-rating>
							<br>
							<!-- Hidden Fees -->
							<label for="hiddenFees-rating">Hidden Fees</label>
							<star-rating v-model="hiddenFees" :star-size="30" class="hiddenFees-rating"></star-rating>
							<br>
							<!-- Cell/internet reception -->
							<label for="cell-rating">Cell/Internet Reception</label>
							<star-rating v-model="cell" :star-size="30" class="cell-rating"></star-rating>
							<br>
                            <!-- Internet -->
                            <label for="internet-rating">Internet</label>
                            <star-rating @rating-selected="setRating($event, 'internet')" v-model="internet" :star-size="30" class="internet-rating"></star-rating>
						</div>
					</div>
					<br>
					<!-- Additional comments -->
					<div class="row">
						<div class="comment-section input-field col s12">
							<textarea id="comments" class="materialize-textarea"></textarea>
							<label for="comments">Additional Comments</label>
						</div>
					</div>

				</form>
			</div>

			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat modal-submit">Submit</a>
			</div>

		</div>
	</div> 

	<!-- End review modal -->



	<!-- start drawer html-->

	<ul id="slide-out" class="side-nav">
        <div id="featured-info"class="row">
            <div id="featured-buiding-address" class="building-address">
                <div class="street-number">400 S. Ashland</div>
                <div class="city">LaGrange</div>
                <div class="state">IL</div>
                <div class="zip">60525</div>
                <div class="review-count">This building has # reviews.</div>
            </div>
            <div id="featured-overview-stats" class="overview-stats">
                <div class="stats"></div>
                <div class="lease-time">The average lease time at this building is: # years.</div>
            </div>
        </div>
        <div id="review-wrapper">
            <!-- review row -->
            <div class="review-row row">
                <div class="overview-stats overview-stats-left">
                        <div class="stats"></div>
                        <div class="lease-time"></div>
                </div>
                <div class="comments comments-right">
                </div>             
            </div>
            <!-- review row -->
            <div class="review-row row">
                <div class="overview-stats overview-stats-left">
                        <div class="stats"></div>
                        <div class="lease-time"></div>
                </div>
                <div class="comments comments-right">
                </div>             
            </div>
        </div>
    </ul>

	<a href="#" id="test-button" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
	
	<!-- end drawer HTML -->


	<!-- SCRIPTS -->
	<!-- jQuery CDN -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>	
	<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1NwKxBZIY95VlUi4UQu7wAIAnkWwAL-M"></script>
    <script src="assets/js/mapStyles.js"></script>
    <script src="assets/js/logic.js"></script>	
	<!-- Link to vue.js -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
	<!-- Link to Materialize.js -->
	<script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
	<!-- Modal JavaScript -->
	<script src="assets/js/logic.js"></script>
	<!-- <script src="assets/js/modal.js"></script> -->

</body>
</html>



<!-- 
NOTES:
Add icons in modal so they are more clear
Make modal wizard
-->